---
interface Props {
  name: string;
  url: string;
  isBig?: boolean;
}

const { name, url, isBig = false } = Astro.props;

const id = url.split("/").at(-2);
const imageUrl = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<a
  href={`/pokemons/${name}`}
  class:list={[
    `rounded-3xl border 
      border-gray-700 flex flex-col 
      justify-center items-center py-2 mt-5 
      hover:border-sky-300 transition-all`,
    {
      "border-none": isBig,
    },
  ]}
>
  <img
    transition:name={`${name}-image`}
    class:list={[
      `size-16`,
      {
        "size-80": isBig,
        "size-24": !isBig,
      },
    ]}
    src={imageUrl}
    alt={name}
  />

  <span
    class:list={[
      ` capitalize text-1xl`,
      {
        "text-2xl": isBig,
        "text-blue-300": isBig,
      },
    ]}>{name}</span
  >

  <p>
    #
    {id}
  </p>
</a>
